/* Global style */
.global-font-family {
  font-family: 'Poppins', sans-serif;
}

.global-text {
  font-size: 14px !important;
}

.global-large-heading {
  font-size: 30px !important;
  font-weight: bold !important;
}

.global-main-heading {
  font-size: 40px !important;
  font-weight: bold !important;
}
.global-main-margin {
  margin: 30px 4%;
}
/* Global style */

.navbar {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 0;
  display: flex !important;
  width: 100%;
}

.btn-drop-down {
  color: #ffffff !important;
  text-transform: lowercase !important;
}

.logo {
  margin-top: 6px !important;
  margin-left: 20px !important;
}

.nav-second {
  display: flex !important;
}

.nav-third {
  display: flex !important;
  justify-content: flex-end;
}

.typo-nav {
  margin: 0px 7px 0 7px !important;
  font-size: 12px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-sign-up {
  margin-top: 6px !important;
  background-color: #fff;
  color: #000000;
  height: 25px;
  padding: 0 8px;
  border-radius: 13px;
  font-size: 10px !important;
  width: 40px;
}

.img-b {
  width: 100%;
}

.img-box {
  width: 430px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 100px;
}

.img-box-header {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #edecec !important;
}

.typohead-img-box-text {
  font-size: 11px !important;
  width: 50px;
}

.typoheading-img-box {
  display: flex !important;
  margin-bottom: 8px;
}

.typo-heading-img {
  font-size: 28px;
  width: 250px;
  margin-left: 30px;
  font-weight: 600;
}

.typo-para-img {
  font-size: 12px !important;
}

.img-second {
  margin: 10px 42px 0px 42px !important;
}

.typo-para-box {
  margin: 20px 0;
}

.typo-line {
  border-bottom: 1px solid black;
}

.head-bottom-line:hover {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 888px) {
  .img-box {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .navbar-O {
    border-bottom: 1px solid;
  }
}

.business-img {
  background-image: url(https://www.uber-assets.com/image/upload/v1613106985/assets/0e/47aa71-35cb-459a-a975-78c61ea300e2/original/HP-U4B-NYC-bkg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.business-img-text-mr {
  padding: 40px 60px;
}

.typo-business-text-sm {
  font-size: 11px !important;
  margin: 10px 0 !important;
}

.typo-business-text-heading {
  font-size: 26px !important;
}

.btn-sign-up-drive {
  background-color: #000000 !important;
  font-size: 11px !important;
  margin-top: 10px !important;
  border-radius: 0px !important;
  text-transform: lowercase !important;
}

.info-card-box {
  width: 500px;
  margin: 20px 0px !important;
}

.info-card-box > img {
  width: 100% !important;
}

.global-card-head {
  margin-top: 8px !important;
  font-size: 20px !important;
}

.global-card-para {
  margin-top: 8px !important;
  font-size: 14px !important;
  color: rgb(153, 153, 153);
}

.typo-bottom-flex {
  display: flex;
  margin-top: 20px;
}

.global-typo-bottom {
  font-size: 13px !important;
  margin-right: 20px !important;
}

.info-card-main-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.global-card-main-big-h {
  font-size: 40px !important;
  margin-bottom: 30px !important;
}
/* // material UI Class */
.css-ahj2mt-MuiTypography-root {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

@media screen and (max-width: 1110px) {
  .info-card-box {
    width: 49%;
  }

  .info-card-box > img {
    width: 100% !important;
  }
}

@media screen and (max-width: 1110px) {
  .navbar {
    flex-wrap: wrap !important;
  }
}

@media screen and (max-width: 430px) {
  .img-box {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .info-card-box {
    width: 290px;
  }
}

.note-card-flex {
  display: flex;
  justify-content: space-between;
}

.note-card {
  width: 30%;
  margin: 15px 0;
}

@media screen and (max-width: 650px) {
  .info-card-box {
    width: 100%;
  }
  .note-card-flex {
    flex-wrap: wrap;
  }
  .note-card {
    width: 100%;
  }
}

.download-app-main-box {
  background-color: #f6f6f6;
  padding: 30px 0 !important;
}

.download-app-flex {
  display: flex;
  justify-content: space-between;
}

.download-app-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 10px !important;
  width: 45%;
  margin: 15px 0 !important;
}

.typo-download-app-text {
  font-size: 20px !important;
}

@media screen and (max-width: 530px) {
  .download-app-img-box {
    width: 150px;
  }
  .download-app-img-box > img {
    width: 100%;
  }
}

/* real Application */
@media screen and (max-width: 980px) {
  .download-app-flex {
    flex-wrap: wrap;
  }
  .download-app-card {
    width: 100%;
  }
  .navbar-logo {
    width: 150px;
  }
  .navbar-logo > img {
    width: 100%;
  }
}

.navbar-O {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.menu-line {
  border-top: 1px solid #eeeeee !important;
}

.download-app-card-O {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 6px 8px !important;
  margin: 10px 0 !important;
}

.download-app-img-box-O {
  width: 70px;
}
.download-app-img-box-O > img {
  width: 80%;
}

.typo-download-app-text-O {
  font-size: 12px !important;
  width: 150px;
}

.menu-icon {
}

@media screen and (max-width: 730px) {
  .download-app-img-box-O {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .download-app-card-O-O {
    display: none;
  }
  .navbar-O {
    margin: 15px 20px;
    border-bottom: 1px solid;
  }
}

/* footer */

.box-footer {
  padding: 15px 80px;
  background-color: #f6f8ff;
  display: flex;
  justify-content: space-between;
}

.dot {
  color: #f6f8ff;
}

.footer-address {
  color: #313555 !important;
  margin-left: 20px !important;
}

.footer-logo {
  margin-bottom: 30px;
  cursor: pointer;
}

.footer-logo > img {
  width: 220px;
}

.address-box {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.mr-bottom {
  margin-bottom: 35px;
}

.list {
  list-style: none;
  color: #313555 !important;
}

.list > li {
  margin-top: 5px;
}

.ul-head {
  font-size: 16px !important;
  font-weight: 700;
  margin-bottom: 10px;
}

.text-color {
  color: #313555 !important;
}

.footer-app {
  display: flex;
  background-color: #f6f8ff;
  align-items: flex-start;
}

.footer-app-sec {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}

@media screen and (max-width: 440px) {
  .footer-app {
    padding: 0;
  }
  .footer-app-sec {
    padding: 0;
  }
}

@media screen and (max-width: 844px) {
  .footer-app {
    width: 100%;
    justify-content: center;
  }
  .footer-app-sec {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 385px) {
  .footer-app {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-app-sec {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-address {
    margin-left: 5px;
  }
}

.footer-download-box {
  margin: 0 5px;
}

@media screen and (max-width: 300px) {
  .footer-download-box {
    margin: 5px 5px !important;
  }
}

.footer-ul-flex {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 316px) {
  .footer-ul-flex {
    flex-wrap: wrap;
  }
}

.app-box {
  margin: -70px 0;
}

.footer-bottom {
  display: flex;
  
  padding: 5px 0px;
  color: #313555 !important;
  
}

@media screen and (max-width: 970px) {
  .box-footer {
    flex-wrap: wrap;
    padding: 30px 30px;
  }
}

.mr-top {
}

.road-map-main {
  padding: 35px 80px;
  border-top: 1px solid #d8d8de;
}

.step-main {
}

.step-sub {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.step-step {
  color: #a3a3a3;
  margin-bottom: 5px !important;
}

.step-text {
  font-weight: bold !important;
}

.step-text-width {
  width: 250px;
}

@media screen and (max-width: 300px) {
  .step-text-width {
    width: 200px;
  }
}

@media screen and (max-width: 260px) {
  .footer-logo > img {
    width: 150px;
  }
  .step-text-width {
    width: 150px;
  }
}

.step-side-line {
  border-left: 1px solid;
  padding-left: 50px;
}

.step-icon {
  width: 50px !important;
  height: 50px !important;
}

@media screen and (max-width: 630px) {
  .step-sub {
    flex-wrap: wrap;
  }
}

.navbar-logo {
  padding: 8px 0px;
  cursor: pointer;
}

.nav-btn-flex {
  display: flex;
  justify-content: space-evenly;
}

.nav-btn {
  border-left: 1px solid #d8d8de;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

/*.picture-one-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.badged-flex {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.badge-mr-r {
  margin-right: 5px;
}

.badge-mr-l {
  margin-left: 5px;
}

/*.s-img-box-size {
  width: 100%;
}*/

.s-img-box-size > img {
  width: 100%;
}

.typo-c {
  padding: 0 10%;
}

@media screen and (max-width: 760px) {
  .picture-one-flex {
    flex-wrap: wrap;
  }
  .s-img-box-size {
    width: 100%;
  }
  .typo-c {
    text-align: center;
  }
}

/*.icons-main-box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 0 5px #d8d8de !important;
}*/

.typo-icons {
  font-size: 14px !important;
  text-align: center !important;
  width: 80px;
}

.icons-box-service {
  text-align: center !important;
  width: 100px;
  height: auto;
}

.icons-box-service > img {
  width: 100%;
}

.typo-icons-s {
  text-align: center !important;
  width: 190px;
  color: #000000 !important;
  font-size: 14px !important;
}

.icons-img-box-service {
  width: 190px;
  text-align: center !important;
  border-radius: 2px;
  border: 1px solid;
}

.icons-img-box-service > img {
  width: 100%;
}

.icons-box {
  text-align: center !important;
  margin: 0 10px !important;
  padding: 0 3px !important;
}

@media screen and (max-width: 1115px) {
  .icons-main-box {
    /* flex-wrap: wrap; */
  }
  .icons-box {
    margin: 20px 0px !important;
  }
}

@media screen and (max-width: 700px) {
  .icons-main-box {
    flex-wrap: wrap;
  }
}

.store-main-box {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 330px) {
  .store-main-box {
    flex-wrap: wrap;
  }
}

.footer-red {
  background-color: #55A6FE;
  color: white;
  text-align: center;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 605px){
  .footer-red{
   justify-content: center;
  }
}
.vision-bg {
  margin: 0px 2%;
}

.vision-box-margin {
  margin: 0 15px;
}

.vision-sub-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vision-img-box-real {
  border: 1px solid #d8d8de;
  margin: 3px 5px;
  border-radius: 5px;
}

.vision-img-box {
  border: 1px solid #d8d8de;
  margin: 3px 10px;
  border-radius: 37px;
}

.vision-img-box-driver {
  display: flex;
  justify-content: center;
}

.vision-img-box-driver > img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform 0.3s; /* Animation */
  cursor: pointer;
}

.typo-vision {
  text-align: center;
}

.vision-pic4-box {
  width: 500px !important;
  height: 300px !important;
}

.vision-pic4-box > img {
  width: 100% !important;
  height: 300px !important;
}

.vision-border-top {
  border-top: 1px solid #d8d8de;
  padding: 35px 0px !important;
}

@media screen and (max-width: 850px) {
  .vision-sub-flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .vision-pic4-box {
    width: 100% !important;
  }
}

.nav2 {
  display: none;
}

@media screen and (max-width: 940px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: block;
  }
}

@media screen and (max-width: 940px) {
  .global-large-heading {
    font-size: 30px !important;
  }
}

/*.icon-head {
  text-align: center;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}*/

/* Contact Us */

.contact-name-flex {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.contact-name-box {
  width: 49% !important;
}

.field-box-margin {
  margin: 12px 0 !important;
  font-size: 12px !important;
}

.field-box-margin-typo {
  margin: 10px 0 !important;
  font-size: 12px !important;
}

.address-boxs-w {
  width: 23.5% !important;
}

.padding-form {
  padding: 0 150px;
}

.form-btn-box {
  display: flex;
  justify-content: center;
}

.company-name-box {
  width: 100% !important;
}

@media screen and (max-width: 680px) {
  .padding-form {
    padding: 0 0px;
  }
}

@media screen and (max-width: 420px) {
  .contact-name-flex {
    flex-wrap: wrap;
  }
  .address-boxs-w {
    width: 100% !important;
    margin: 8px 0 !important;
  }
  .company-name-box {
    width: 100% !important;
  }
  .contact-name-box {
    width: 100% !important;
    margin: 8px 0 !important;
  }
}

.display-none-box {
  display: none !important;
}

.checking {
  border: 1px Solid red !important;
}

#outlined-basic {
  padding: 12px;
  font-size: 12px !important;
}

.text-field-b {
  padding: 0px 0px !important;
}

.MuiInputLabel-root {
  font-size: 12px !important;
}

#demo-simple-select-label {
  padding: 0px !important;
  margin: 0px !important;
}

#demo-simple-select {
  padding: 10px !important;
  margin: 0px !important;
}

.center-contact-us {
  text-align: center;
  padding-bottom: 20px;
}

.about-flex {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.reverse-flex {
  flex-direction: row-reverse !important;
}

.subheading-content-box {
  padding-top: 5%;
}

.subheading-content-box .content {
  font-size: 25px !important;
  font-weight: bold !important;
}

.about-img-box {
  width: 100% !important;
  height: auto !important;
  max-height: 530px;
  overflow: hidden !important;
}

.business-img-box {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
  margin: 5px 0;
  overflow: hidden !important;
}

.business-img-box > img {
  width: 100%;
  height: auto !important;
}

.business-img-box > img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: transform 0.3s; /* Animation */
  cursor: pointer;
}

.driver-img-box {
  width: 100% !important;
  margin: 5px 0;
}

.driver-img-box > img {
  width: 100%;
}

.driver-img-box > img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform 0.3s; /* Animation */
  cursor: pointer;
}

.sec-typo {
  margin: 15px 0 !important;
}

.investor-img-box {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
  margin: 5px 0;
  overflow: hidden !important;
}

.investor-img-box > img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: transform 0.3s; /* Animation */
  cursor: pointer;
}

.investor-img-box > img {
  width: 100%;
  height: auto !important;
}

.content-box {
  padding-top: 5%;
}
.services-img-box {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
  margin: 5px 0;
  overflow: hidden !important;
}

.services-img-box > img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: transform 0.3s; /* Animation */
  cursor: pointer;
}

.services-img-box > img {
  width: 100%;
  height: auto !important;
}

.about-img-box > img {
  width: 100%;
  height: auto !important;
}

.about-two-box {
  margin: 5px 4%;
  width: 100% !important;
}

.driver-images {
  display: flex;
  gap: 20px;
  width: unset !important;
}

/*.icon-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

@media screen and (min-width: 1600px) {
  .delivery-image {
    width: 90% !important;
  }
}

.about-text-set {
  text-align: justify;
}
.font-bold {
  font-weight: bold !important;
}
.items-center {
  display: flex;
  align-items: center;
}
.items-center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 810px) {
  .about-flex {
    flex-wrap: wrap;
  }
  .about-img-box {
    width: 100%;
  }
  .services-img-box {
    width: 100%;
  }
  .vision-img-box-driver {
    margin-top: 15px;
  }
}

.li-c {
  color: #313555 !important;
  text-decoration: none !important;
  
}
.li-c-w{
  color: white;
  text-decoration: none;
  margin: 0px 15px;
}

.bread-crumb-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.typo-crumb {
  margin: 0 15px !important;
}

.dot-crumb {
  background-color: #009bff;
  padding: 4px 5px;
  border-radius: 3px;
}

.typo-services-h {
  text-align: center;
  margin-bottom: 5px !important;
  font-size: 24px !important;
  color: #313555 !important;
}

.typo-services-num {
  font-size: 28px !important;
  font-weight: bold !important;
  color: #fc3e3f;
}

.nav-link-color {
  color: #212529;
  text-decoration: none !important;
}

.blog-img-box {
  width: 100%;
  margin: 15px 0;
}

.blog-img-box > img {
  width: 100%;
}

.crumb-color {
  color: black;
}

.faq-main-img-box {
  width: 100%;
  height: 400px;
}

.faq-main-img-box > img {
  width: 100%;
  height: 400px;
}

.driver-main-img-box {
  width: 100%;
  margin-top: 10px;
}

.driver-main-img-box > img {
  width: 100%;
}

.collapse-b {
  margin-top: 30px;
}

.card {
  margin: 5px 0;
}

.main-road-map-flex {
  display: flex;
  justify-content: space-between;
}

.border-center {
  border-left: 1px solid;
}

.box-same {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 440px) {
  .box-same {
    margin-bottom: 15px;
  }
  .road-map-num {
    margin-bottom: -15px !important;
  }
}

.box-same-4 {
  margin-bottom: 0px !important;
}

.road-map-num {
  font-size: 65px !important;
  font-weight: bold !important;
  color: #e3e3e3;
}

.road-icon-size {
  border: 5px solid #e3e3e3;
  padding: 30px 30px !important;
  border-radius: 100px !important;
}

.road-text-down {
  text-align: center;
}

.icon-text-box {
  width: 120px;
}

.box-same-1 {
  margin-top: 0px;
}

.box-same-2 {
  margin-top: 60px;
}

.box-same-3 {
  margin-top: 0px;
}

.box-same-4 {
  margin-top: 60px;
}

@media screen and (max-width: 1020px) {
  .box-same-2 {
    margin-top: 0px;
  }
  .box-same-4 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1020px) {
  .main-road-map-flex {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.under-line {
  border-bottom: 1px solid;
}

.link-color {
  color: #0d5efd;
  text-decoration: none !important;
}

.error-text {
  font-size: 12px !important;
  color: red !important;
}

.check-label {
  margin-top: -10px !important;
  font-size: 5px !important;
  margin-bottom: 1px !important;
}

.column-reverse {
  flex-direction: row-reverse !important;
}

/*.typo-c-box {
  margin-top: 15px;
}*/

/*.margin-vertical {
  margin: 30px 2% 0 2%;
}*/

.road-center {
  text-align: center;
}

.driver-main-margin {
  margin: 0 4%;
}

/*.home-img-main-box {
  width: 700px;
}*/

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.select-wi {
  width: 100%;
  padding: 7px 2px;
}

.label-inp-border {
  width: 100%;
  padding: 5px 2px;
}

.box-inp-mr {
  margin: 12px 0;
}

.submit-btn-color {
  background-color: #1fa5ff !important;
}
/*One app for all you needs (Home Page)*/
.image img{
   width: 100%;
}
.anchor.d-flex a{
  margin: 10px 20px;
}


@media only screen and (max-width: 992px) {
  .anchor.d-flex{
    justify-content: center;
  } 
  .anchor.d-flex a{
    margin: 10px 10px;
  }
  .content h2{
    text-align: center;
  }
  .content{
    padding: 100px 0px;
  }
}
@media only screen and (max-width: 380px){
  .anchor.d-flex{
    flex-wrap: wrap;
  }
}

.content h2{
  margin-left: 15px;
}
.Icons{
  background-color: #F2F5F8;
}
.Icons .container .row{
  padding: 100px 0px;
}
.Icons .container .row h2{
  text-align: center;
}
.card{
  text-align: center;
  padding: 20px; 
  border-radius:30px;
  border:none;
  margin: 25px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

